/* Button styles */


/* generic styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"] {
  padding: rem-calc(8) rem-calc(16);
  margin-bottom: 0;
  border-radius: $border-radius;
  color: $black-text;
  background-color: scale-color($black, $lightness: 80%);
  border: 1px solid scale-color($black, $lightness: 75%);
  box-sizing: border-box;
  @include box-shadow(1px, 0.15);

  &:hover {
    background-color: scale-color($black, $lightness: 70%);
    color: $black-text;
    @include single-transition(background-color);
  }
}


/* specific styles */

/* Search in List */
.filter-search {
  @extend %form-style;
  margin-top: rem-calc(32);
  margin-bottom: rem-calc(32);
  overflow: hidden;

  input[type="text"],
  input[type="submit"] {
    margin-bottom: 0;
    margin-top: 0;
  }
  input[type="text"] {
    width: 73%;
    float: left;
    border-radius: $border-radius;
    margin-right: 2%;
  }
  input[type="submit"] {
    width: 25%;
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
  }
}

/*
.gform_button.button {
  border-radius: $border-radius;
  @include box-shadow-advanced(1, 1, 3, 0,0,0,0.45, false,false);
  padding: rem-calc(8) 0;
  width: 20%;
  background-color: $orange;
  color: $white;
  cursor: pointer;
}*/
