/* PARTIALS - extends, placeholder styles */

/* horisontal lists with iconlinks */
%icon-list {
  overflow: hidden;
  li {
    display: block;
    float: left;
    margin-right: rem-calc(8);
  }
}

%icon-link {
  display: block;
  width: rem-calc(38);
  height: rem-calc(38);
  overflow: hidden;
  //line-height: rem-calc(24);
  padding-right: - rem-calc(4);

  &:hover {
    text-decoration: none;
    &:before {
      color: $white;
    }
  }
  &:before {
    font-size: rem-calc(42);
  }
}




/* ICON links / social media */
/*
.icon-link-list {
	overflow: hidden;

	li {
		display: block;
		float: left;
		margin-right: rem-calc(8);

		a.icon-link {

		}
		a.facebook-icon {
			&:before {
				@include hbg-icons($facebook);
			}
		}
		a.twitter-icon {
			&:before {
				@include hbg-icons($twitter);
			}
		}
		a.instagram-icon {
			&:before {
				@include hbg-icons($instagram);
			}
		}
	}
}
*/
