.hbg-gallery-container {
    .columns {
        margin: 0;
        padding: 0;
    }

    .hbg-gallery-item {
        width: 100%;
        position: relative;
    }

    .hbg-gallery-item-image-container {
        position: relative;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        padding-bottom: 75%;

        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            @include gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.8));
        }

        .hbg-gallery-item-image {
            display: none;
        }
    }

    .hbg-gallery-item-title {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        left: 10px;
        right: 10px;
        color: #fff;
    }

    .hbg-gallery-item-description {
        display: none;
    }
}