/*
Misc Page components
*/


/*
Tables

*/

.table-list {
  width: 100%;
}


/*
  Breadcrumbs
*/
ul.breadcrumbs {
  padding-left: 0;
  padding-top: rem-calc(16);
  li a {
    color: $blue-2;
  }
}

/*
  Accessability-menu
*/
.accessability-menu {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0.5rem;;

  width: auto;
  /* float: left; */
  li {
    display: inline-block;
    margin-right: 20px;

    > a {
      font-size: rem-calc(14);
      display: block;
      &#listen:before {
        @include hbg-icons($speaker);
        font-size: rem-calc(18);
        display: block;
        float: left;
        margin-right: rem-calc(4);
        margin-top: rem-calc(2);
      }
    }
  }
}
html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.no-websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.no-cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths body.customize-support div.off-canvas-wrap div.inner-wrap div.main-site-container div.main-page-layout.row div.main-area.large-9.columns div.main-content.row section.news-section.large-8.medium-8.columns ul.accessability-menu {
  float: right;
}

.goog-te-menu-value {
    &:hover {
        text-decoration: none !important;
    }
}

/*
  Modal
*/

/* Eventmodal */
.modal {
  .section-title {
    padding-left: 0;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.modal-image {
  margin: 0 auto rem-calc(32);
  display: block;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: $border-radius;
  max-height: 300px;
}
.modal-title,
.modal-date {
  text-align: center;
}
.modal-title {
  margin-bottom: rem-calc(32);
  margin-top: 0;
}
.modal-list {
  list-style: none;
  margin-left: 0;
  li {
    margin-bottom: rem-calc(8);
    color: $gray-1;
  }
  span {
    margin-right: rem-calc(32);
  }
}

#eventModal {
  .row + .row {
    margin-top: 20px;
  }
}

.reveal-modal .close-reveal-modal {
  padding: rem-calc(7.5) rem-calc(10.5) rem-calc(13);
  line-height: rem-calc(20);
  font-size: rem-calc(32);
  background-color: lighten($gray-3, 10%);
  border: 1px solid lighten($gray-3, 5%);
  border-radius: $border-radius-circle;
  display: block;
  font-weight: normal;
  top: rem-calc(16);
  right: rem-calc(16);

  &:hover {
    background-color: lighten($gray-3, 5%);
    text-decoration: none;
  }
}

.modal .main-title {
  margin-bottom: rem-calc(24);
}

/* modal item list */
.modal-item-list {
  list-style: none;
  margin-left: 0;
  overflow: hidden;

  li {
    margin-bottom: rem-calc(16);
    width: 100%;
    float: left;
    > span {
      display: block;
    }
  }
  .item-label {
    font-size: rem-calc(14);
    font-weight: 500;
    color: $list-item-label-color;
  }
  .item-value {
    font-size: rem-calc(18);
  }
}


/*
  ALARM LIST
*/
.mini-item-list {
  list-style: none;
  margin-left: 0;
  overflow: hidden;

  li {
    display: block;
    overflow: hidden;
  }
  span {
    display: block;
    float: left;
    box-sizing: border-box;
  }
  .item-value {
    font-size: rem-calc(14);
  }
  .item-label {
    color: $list-item-label-color;
    font-weight: 500;
    font-size: rem-calc(14);
    padding-right: rem-calc(16);
  }
}

/* mini-item-list in block-grid/block-list view */
.page-block-list {
  .mini-item-list li > * {
    width: 100%;
  }
  .mini-item-list li {
    margin-bottom: 0;
    a {
      display: block;
      float: left;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.page-block-list {
  .mini-item-list {
    .item-label {

    }
    .item-value {
      font-weight: normal;
      font-size: rem-calc(14);
    }
  }
}

.page-block-list.page-list {
  .mini-item-list {
    .item-label {

    }
    .item-value {
      font-size: rem-calc(14);
      font-weight: 500;
    }
  }
}

/* ICON links / social media */

.icon-link-list,
.socialmedia-list {
  $icon-size: 42;
	overflow: hidden;
  margin-left: 0;
  margin: 20px 0 5px;

	li {
		display: block;
		float: left;
		margin-right: rem-calc(8);

    a {
			display: block;
			width: rem-calc($icon-size - ($icon-size/7));
			height: rem-calc($icon-size);
			overflow: hidden;
      text-decoration: none;

			&:hover {
				text-decoration: none;
				&:before {
					color: $white;
				}
			}
			&:before {
				font-size: rem-calc($icon-size);
			}
		}
		a.facebook-icon {
			&:before {
				@include hbg-icons($facebook);
			}
		}
		a.twitter-icon {
			&:before {
				@include hbg-icons($twitter);
			}
		}
		a.instagram-icon {
			&:before {
				@include hbg-icons($instagram);
			}
		}
    a.linkedin-icon {
      &:before {
        @include hbg-icons($linkedin);
      }
    }
	}
}

/* socialmedia list - inherits from above */
.socialmedia-list {
    .fbook a {
      &:before {
        @include hbg-icons($facebook);
      }
    }
    .twitter a {
      &:before {
        @include hbg-icons($twitter);
      }
    }
    .linkedin a {
      &:before {
        @include hbg-icons($linkedin);
      }
    }
    li a {
      color: $blue-1;
    }
    li a:hover {
      &:before {
        color: scale-color($blue-1, $lightness: 10%);
      }
    }
}


	/* guide list */

	.guide-list {
		margin-left: 0;
		margin-bottom: rem-calc(16);
		list-style: none;

		.title {
			@extend h2;
			display: block;
		}
		img {
			border-radius: $border-radius;
			margin-bottom: rem-calc(16);
		}
		li {
			display: none;
			&.current {
				display: block;
			}
		}
		.description {
			ol, ul {
				margin-bottom: rem-calc(16);
				margin-left: rem-calc(40);
			}
			li {
				display: list-item;
			}
		}

	}

	.guide-section {
		margin-bottom: rem-calc(32);

    ul.pagination li {
      height: auto !important;
    }
	}

	.guide-section .guide-button {
  	color: $white !important;
  	margin-right: $column-gutter/3;
  	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  	&:hover {
  		text-decoration: none;
  	}
  	&.next-step {
  		float: right;
  	}
  	&.prev-step {
  		float: left;
  	}
}

/*  MQ - page components  */
@media #{$small-only} {
  .guide-section .guide-button {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}

/* mini-item-list */
@media #{$small-up} {
  .page-block-list.page-list {
    .mini-item-list li {
      margin-bottom: 0;
      .item-label {
        width: 33.33%;
      }
      .item-value {
        width: 66.33%;
      }
    }
  }

}

@media #{$medium-up} {
  .page-block-list.page-list {
    .mini-item-list li {
      margin-bottom: 0;
      .item-label {
        width: 25%;
      }
      .item-value {
        width: 75%;
      }
    }
  }

  .modal-item-list {
    li {
      width: 50%;
    }
  }
}

@media #{$large-up} {
  .mini-item-list {
    li {
      font-size: rem-calc(16);
    }
  }
}

.rs-docreader {
  padding-left: rem-calc(8);
  &:before {
    @include hbg-icons($speaker);
    font-size: rem-calc(18);
    display: inline-block;
    float: none;
    margin-right: rem-calc(4);
    margin-top: rem-calc(2);
  }
}
