

/* COLOR THEMES */
/* default color theme */
body {
  background: $gray-90;
  color: $gray-20;
}
.site-header {
  background-color: $white;
}
.main {
  background: $white;
}

.left-off-canvas-menu {
  background: $gray-30;

  ul li a {
    color: $white;
    &:hover {
      background-color: scale-color($gray-30, $lightness: 5%);
      color: $white;
      text-decoration: none;
    }
  }
}
.top-bar.top-navigation,
.top-bar.top-navigation .top-bar-section li a,
.top-bar.top-navigation .top-bar-section ul li {
  /*background: scale-color($gray-20, $lightness: -15%);*/
  background: $white;
  color: $pink;
}
.top-bar.top-navigation .top-bar-section {
    li a:hover {
      background: scale-color($gray-20, $lightness: -25%);
      text-decoration: none;
    }
}
.top-bar.top-navigation.expanded .title-area {
  background: scale-color($gray-20, $lightness: -5%);
}
.top-bar.main-navigation {
  section > ul {
    background: $white;
  }
}

.news-title {
  color: $gray-20;
}

.news-date,
.widget .date {
  color: $gray-40;
}

.footer {
  background: $gray-95;
  color: $gray-30;

  h1, h2, h3, h4, h5, h6 {
    color: $gray-30;
  }
}

/* orbit */
.red-theme,
.green-theme {
  .orbit-container .orbit-caption {
    background-color: $gray-90;
    color: $gray-20;
  }
}
// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}





/************
RED
*************/
.red-theme {

  .site-header {
    background-color: $red-1;
  }
  .main {
    background-color: $white;
  }
  a {
    color: $red-1
  }
  a:hover {
    color: $red-2;
    text-decoration: underline;
  }

  .top-bar.top-navigation,
  .top-bar.top-navigation .top-bar-section li a,
  .top-bar.top-navigation .top-bar-section ul li {
    //background: scale-color($red-2, $lightness: -15%);
    background: $red-2;
  }
  .top-bar.top-navigation .top-bar-section {
      li a:hover {
        //background: scale-color($red-2, $lightness: -25%);
        text-decoration: underline;
        background: none;
      }
  }
  .top-bar.top-navigation.expanded .title-area {
    background: scale-color($red-2, $lightness: -5%);
  }
  .top-bar.top-navigation section ul li a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  .search-section {
    .search,
    .dropdown-search {
      //background: $yellow;
    }
    .search li .toggle-search {
      color: $white;
    }
    input[type="submit"] {
      background: $gray-20;
      border: none;
      color: $white;
      font-weight: 700;
    }
  }

  .search-section li {
    color: $gray-20;
  }

  .mobile-section .menu-icon {
    &:after {
      color: $white;
    }
  }
  .top-bar.main-navigation {
    background: $red-1;
    .top-bar-section {
      .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
      }
      li a {
        background: $red-1;
        color: $white;
      }
      li > a:hover,
      li.active a {
        background: $red-2;
        text-decoration: none;
      }
      li.active a {
        font-weight: 700;
      }
      .dropdown {
        li,
        li a {
          background: $red-2;
          color: $white;
        }
        li a:hover {
          background: $red-2;
          color: $gray-30;
        }
      }
    }
  }
  .top-bar.main-navigation {
    section > ul {
      background: $red-1;
    }
  }

  /* misc page components */
  .accessability-menu {
    li a {
      color: $gray-40;
    }
  }


  .divider {
    margin-bottom: rem-calc(16);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    .upper-divider,
    .lower-divider {
      display: none;
    }
  }
  .widget .divider {
    border-color: $red-1;
  }
  .news-section .divider {
    border-color: $red-1;
  }
} //END RED


/******
 GREEN
 ********/

.green-theme {
  .site-header {
    background-color: $green-5;
  }
  .main {
    background-color: $white;
  }
  a {
    color: $green-4;
  }
  a:hover {
    color: $green-5;
    text-decoration: underline;
  }

  .top-bar.top-navigation,
  .top-bar.top-navigation .top-bar-section li a,
  .top-bar.top-navigation .top-bar-section ul li {
    //background: scale-color($green-5, $lightness: -15%);
    background: $green-4;
  }

  .top-bar.top-navigation .top-bar-section {
      li a:hover {
        background: scale-color($green-5, $lightness: -25%);
        text-decoration: underline;
        background: none;
      }
  }
  .top-bar.top-navigation.expanded .title-area {
    background: scale-color($green-5, $lightness: -5%);
  }
  .top-bar.top-navigation section ul li a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  .search-section {
    .search,
    .dropdown-search {
      //background: $yellow;
    }
    .search li .toggle-search {
      color: $white;
    }
    input[type="submit"] {
      background: $gray-20;
      border: none;
      color: $white;
      font-weight: 700;
    }
  }

  .search-section li {
    color: $gray-20;
  }

  .mobile-section .menu-icon {
    &:after {
      color: $white;
    }
  }
  .top-bar.main-navigation {
    background: $green-5;
    .top-bar-section {
      .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
      }
      li a {
        background: $green-5;
        color: $white;
      }
      li > a:hover,
      li.active a {
        background: $green-4;
        text-decoration: none;
      }
      li.active a {
        font-weight: 700;
      }
      .dropdown {
        li,
        li a {
          background: $green-4;
          color: $white;
        }
        li a:hover {
          background: scale-color($green-4, 20%);
          color: $white;
        }
      }
    }
  }
  .top-bar.main-navigation {
    section > ul {
      background: $green-5;
    }
  }

  /* misc page components */
  .accessability-menu {
    li a {
      color: $gray-40;
    }
  }


  .divider {
    margin-bottom: rem-calc(16);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    .upper-divider,
    .lower-divider {
      display: none;
    }
  }
  .widget .divider {
    border-color: $green-5;
  }
  .news-section .divider {
    border-color: $green-5;
  }
} //END GREEN




/****
 GREEN 5

 ********/
.green-5-theme {

  .site-header {
    //background-color: $red-2;
  }
  .main {
    background-color: $white;
  }
  a {
    color: $green-5;
  }
  a:hover {
    color: $green-5;
    text-decoration: underline;
  }

  .top-bar.top-navigation,
  .top-bar.top-navigation .top-bar-section li a,
  .top-bar.top-navigation .top-bar-section ul li {
    //background: scale-color($red-2, $lightness: -15%);
    background: $white;
  }
  .top-bar.top-navigation .top-bar-section {
      li a:hover {
        //background: scale-color($red-2, $lightness: -25%);
        text-decoration: underline;
        background: none;
      }
  }
  .top-bar.top-navigation.expanded .title-area {
    background: scale-color($green-5, $lightness: -5%);
  }
  .top-bar.top-navigation section ul li a {
    color: $green-5;
    &:hover {
      text-decoration: none;
    }
  }

  .search-section {
    .search,
    .dropdown-search {
      //background: $yellow;
    }
    .search li .toggle-search {
      color: $gray-20;
    }
    input[type="submit"] {
      background: $gray-20;
      border: none;
      color: $white;
      font-weight: 700;
    }
  }

  .search-section li {
    color: $gray-20;
  }

  .mobile-section .menu-icon {
    &:after {
      color: $white;
    }
  }
  .top-bar.main-navigation {
    background: $green-5;
    .top-bar-section {
      .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
      }
      li a {
        background: $green-5;
        color: $white;
      }
      li > a:hover,
      li.active a {
        background: $green-5;
        text-decoration: none;
      }
      li.active a {
        font-weight: 700;
      }
      .dropdown {
        li,
        li a {
          background: $yellow;
          color: $gray-30;
        }
        li a:hover {
          background: scale-color($yellow, 20%);
          color: $gray-30;
        }
      }
    }
  }

  .top-bar.main-navigation {
    section > ul {
      background: $green-5;
    }
  }

  /* misc page components */
  .accessability-menu {
    li a {
      color: $gray-40;
    }
  }


  .divider {
    margin-bottom: rem-calc(16);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    .upper-divider,
    .lower-divider {
      display: none;
    }
  }
  .widget .divider {
    border-color: $green-5;
  }
  .news-section .divider {
    border-color: $green-5;
  }
} //END GREEN 5





/****
 PINK

 ********/
.pink-theme {

  .site-header {
    //background-color: $red-2;
  }
  .main {
    background-color: $white;
  }
  a {
    color: $pink;
  }
  a:hover {
    color: $red-1;
    text-decoration: underline;
  }

  .top-bar.top-navigation,
  .top-bar.top-navigation .top-bar-section li a,
  .top-bar.top-navigation .top-bar-section ul li {
    //background: scale-color($red-2, $lightness: -15%);
    background: $white;
  }
  .top-bar.top-navigation .top-bar-section {
      li a:hover {
        //background: scale-color($red-2, $lightness: -25%);
        text-decoration: underline;
        background: none;
      }
  }
  .top-bar.top-navigation.expanded .title-area {
    background: scale-color($green-5, $lightness: -5%);
  }
  .top-bar.top-navigation section ul li a {
    color: $pink;
    &:hover {
      text-decoration: none;
    }
  }

  .search-section {
    .search,
    .dropdown-search {
      //background: $yellow;
    }
    .search li .toggle-search {
      color: $gray-20;
    }
    input[type="submit"] {
      background: $gray-20;
      border: none;
      color: $white;
      font-weight: 700;
    }
  }

  .search-section li {
    color: $gray-20;
  }

  .mobile-section .menu-icon {
    &:after {
      color: $white;
    }
  }
  .top-bar.main-navigation {
    background: $pink;
    .top-bar-section {
      .has-dropdown > a:after {
        border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
      }
      li a {
        background: $pink;
        color: $white;
      }
      li > a:hover,
      li.active a {
        background: $pink;
        text-decoration: none;
      }
      li.active a {
        font-weight: 700;
      }
      .dropdown {
        li,
        li a {
          background: $yellow;
          color: $gray-30;
        }
        li a:hover {
          background: scale-color($yellow, 20%);
          color: $gray-30;
        }
      }
    }
  }

  .top-bar.main-navigation {
    section > ul {
      background: $pink;
    }
  }

  /* misc page components */
  .accessability-menu {
    li a {
      color: $gray-40;
    }
  }


  .divider {
    margin-bottom: rem-calc(16);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    .upper-divider,
    .lower-divider {
      display: none;
    }
  }
  .widget .divider {
    border-color: $pink;
  }
  .news-section .divider {
    border-color: $pink;
  }
} //END PINK







/***** COMPONENTS***/

/* Ribbon */

.red-1-theme,
.red-theme,
.pink-theme {
  .stripe-1 {
    background: $yellow;
  }
  .stripe-2 {
    background: $pink;
  }
  .stripe-3 {
    background: $orange;
  }
  .stripe-4 {
    background: $red-2;
  }
  .stripe-5 {
    background: $red-1;
  }
}


.green-5-theme,
.green-theme {
  .stripe-1 {
    background: $green-1;
  }
  .stripe-2 {
    background: $green-2;
  }
  .stripe-3 {
    background: $green-3;
  }
  .stripe-4 {
    background: $green-4;
  }
  .stripe-5 {
    background: $green-5;
  }
}




/* social media lists */
.icon-link-list,
.socialmedia-list {
  li a {
    color: $gray-40;
    &:hover {
      color: $gray-30;
    }
  }
  li.fbook a,
  li a.facebook-icon {
    color: $facebook-color;
    &:hover {
      color: scale-color($facebook-color, $lightness: 10%);
    }
  }
  li.twitter a,
  li a.twitter-icon {
    color: $twitter-color;
    &:hover {
      color: scale-color($twitter-color, $lightness: 10%);
    }
  }
}
