.accessability-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    li {
        display: inline-block;
        margin: 0;
        padding: 0;

        & + li {
            margin-left: 5px;
        }
    }

    a {
        border: 2px solid #ddd;
        padding: 5px 13px 4px;
        border-radius: 50px;
        font: 14px $font-roboto;
        letter-spacing: 0.5px;

        &:hover {
            background: #ddd;
            color: #333;
        }

        &:before {
            vertical-align: middle;
            font-size: 14px;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }

    #listen:before {
        @include hbg-icons($icon-speaker);
    }

    .easy-to-read:before {
        @include hbg-icons($icon-easy-to-read);
    }
}

header .accessability-menu {
    margin-top: 18px;
    margin-bottom: 0;
}

#read-speaker-player {
    display: none;
    height: 40px;

    &.rsexpanded {
        display: block;
        margin-bottom: 20px;
    }
}