.main-footer {
    background: $band-color-4;
    padding: 30px 0;
    color: #fff;
    font-family: $font-roboto;

    .footer-title {
        color: #fff;
        font-size: 15pt;
    }

    .footer-content,
    .textwidget,
    p {
        font-size: 11pt;
        letter-spacing: .5px;
        font-weight: 300;
    }

    .icon-link-list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        a.icon-link {
            display: block;
            overflow: hidden;
            color: #fff;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

            &::before {
                margin-right: 50px;
            }
        }

        a.facebook-icon {
            $icon-size: 50px;
            width: $icon-size;
            height: $icon-size;

            &::before {
                @include hbg-icons($icon-facebook);
                font-size: $icon-size;
            }
        }

        a.twitter-icon {
            $icon-size: 50px;
            width: $icon-size;
            height: $icon-size;

            &::before {
                @include hbg-icons($icon-twitter);
                font-size: $icon-size;
            }
        }

        a.instagram-icon {
            $icon-size: 50px;
            width: $icon-size;
            height: $icon-size;

            &::before {
                @include hbg-icons($icon-instagram);
                font-size: $icon-size;
            }
        }
    }
}