/**
 * Header area
 */
.header-main {
    position: relative;

    @media #{$bp-container-max} {
        padding-left: 20px;
    }

    @media #{$medium-only} {
        padding-left: 10px;
    }

    @media #{$small-only} {
        padding-left: 5px;
    }

    .color-band {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;

        @media #{$medium-only} {
            width: 10px;
        }

        @media #{$small-only} {
            width: 5px;
        }
    }
}

.logotype {
    max-height: 50px;

    @media #{$small-only} {
        max-width: 250px;
        max-height: none;
    }
}

/**
 * Top navigation bar
 */
.nav-bar {
    background: $band-color-4;
    padding: 0;
    position: relative;

    .logotype {
        margin: 5px 0;
    }
}

/**
 * Header welcome area
 */
.header-welcome {
    background: $dark-gray-1;
    padding: 30px 0;

    > .row {
        position: relative;
        &::after {
            clear: none;
        }
    }

    .header-welcome-text {
        float: none;
    }

    h1 {
        color: #fff;
    }

    article {
        p {
            color: $light-gray-text;
        }
    }

    .sidebar-right {
        float: right;
        margin-top: 20px;

        @media #{$medium-up} {
            margin-top: -13%;
        }
    }
}

/**
 * Hero area (with slider)
 */
.hero {
    height: 350px;

    > .columns.no-margin {
        background-size: cover;
        background-position: center center;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    @media #{$bp-container-min} {
        .orbit-prev {
            left: 20px;
        }
    }

    .orbit-container {
        width: 100%;
        height: 100%;
    }

    .hero-orbit {
        width: 100%;
        height: 100%;

        li {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;

            .caption {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70%;
                @include gradient(rgba(0,0,0,0), rgba(0,0,0,.7));

                .caption-content {
                    position: absolute;
                    left: 0;
                    bottom: 30px;
                    width: 100%;
                    font: bold 20pt $font-roboto;
                    color: #fff;
                    text-shadow: 0 5px 20px rgba(0,0,0,.7);

                    a.read-more {
                        font: 300 12pt $font-roboto;
                        color: $band-color-1;
                        display: block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}