/**
 * Mobile navigation
 */
.mobile-nav {
    display: none;
    width: 100%;
    background: $mobile-nav-bg-color;
    //@extend .clearfix;
}

/**
 * Main menu
 */

.nav-mainmenu {
    height: 100%;

    a, ul, li {
        font-family: $font-roboto;
        font-weight: 300;
    }

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;

        // ## All levels
        li {
            position: relative;

            // Submenus
            ul {
                position: absolute;
                z-index: 99;
                background: $band-color-4;
                background: darken($band-color-4, 5%);
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 200px;

                li {
                    a {
                        display: block;
                        color: #fff;
                        font-size: 13pt;
                        padding: 10px 15px;

                        &:hover {
                            background: darken($band-color-4, 8%);
                        }
                    }

                    &.menu-item-has-children > a {
                        &::after {
                            content: "\f0da";
                            font-family: 'FontAwesome';
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                        }
                    }

                    // ## 2nd level submenu and deeper
                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
            }

            // Display submenu on hover
            &:hover {
                background: darken($band-color-4, 5%);
                > ul {
                    display: block;
                }
            }
        }

        // ## Only top level
        > li {
            display: inline-block;

            > a {
                font-size: rem-calc(18);
                letter-spacing: 1px;
                color: #fff;
                display: block;
                padding: 19px 10px;

                &:hover {
                    //text-decoration: underline;
                }
            }
        }

        // Hide submenus by default
        .sub-menu {
            display: none;
        }

        // Search
        .item-search {
            position: relative;

            &.show-search {
                background: darken($band-color-4, 5%);

                .search-container {
                    display: block;
                }
            }

            .search-container {
                display: none;
                position: absolute;
                z-index: 5;
                right: 0;
                width: 400px;
                background: darken($band-color-4, 5%);
                padding: 10px;

                .input-field {
                    margin: 0;
                    background: #fff;
                    border: none;

                    &::-webkit-input-placeholder {
                        color: #bcbcbc;
                    }

                    &:-moz-placeholder {
                        color: #bcbcbc;
                        opacity: 1;
                    }

                    &::-moz-placeholder {
                        color: #bcbcbc;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: #bcbcbc;
                    }
                }

                .button.search {
                    padding: 9px 15px;
                    border-radius: 0;
                    background: $band-color-1;
                    margin: 0;
                    font-weight: bold;
                    width: 100%;
                }
            }
        }
    }
}