/**
 * Main site container
 */

.main-site-container {
    background: #fff;
    transition: all .3s;
    box-shadow: 0 0 20px #111;
    -moz-box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;

    .move-left & {
        height: 100vh;
        overflow: hidden;
        transform: perspective(600px) rotateY(17deg);
    }
}

/**
 * Row max width
 */
.row {
    max-width: $row-max-width;
}

/**
 * Content container
 */
.content-container {
    padding: 70px 0;
}

/**
 * Sidebars
 */

.sidebar-right {
    .widget + .widget {
        margin-top: 30px;
    }
}

/**
 * Read more button
 * Always append a chrevron right to read more buttons
 */
.read-more {
    &::after {
        content: "\00a0" "»";
    }
}

#wpadminbar {
    position: fixed;
}