/**
 * Widget structure
 */
.widget-content {
    padding: 0;
    color: #fff;

    .widget-title,
    h2 {
        font: bold 18pt $font-roboto;
        color: #fff;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

        .fa {
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }
}

/**
 * Widget content holder
 */
.widget-content-holder {
    padding: 20px;
}

/**
 * Widget colors from color band
 */
.widgets-test-color {
    .widget {
        &:nth-child(1n) {
            .widget-content {
                background: $band-color-1;
            }
        }

        &:nth-child(2n) {
            .widget-content {
                background: $band-color-2;
            }
        }

        &:nth-child(3n) {
            .widget-content {
                background: $band-color-3;
            }
        }

        &:nth-child(4n) {
            .widget-content {
                background: $band-color-4;
            }
        }

        &:nth-child(5n) {
            .widget-content {
                background: $band-color-5;
            }
        }
    }
}

/**
 * Quick links widget
 */

.quick-links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        & + li {
            margin-top: 3px;
        }

        a {
            display: block;
            background: rgba(0, 0, 0, .1);
            padding: 8px 12px;
            color: #fff;
            letter-spacing: .8px;
            font-weight: 300;

            &:hover {
                background: rgba(0, 0, 0, .2);
            }
        }
    }
}