/**
 * Widget structure
 */
.widget-content {
    color: #fff;

    .widget-title,
    h2 {
        font: bold 18pt $font-roboto;
        color: #fff;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

        .fa {
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }

    p > a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/**
 * Widget content holder
 */
.widget-content-holder {
    padding: $widget-padding;
}

/**
 * Widget colors from color band
 */
.widgets-test-color {
    .widget {
        &:nth-child(1n) {
            .widget-content {
                background: $band-color-1;

                p > a {
                    color: darken($band-color-1, 20%);
                }
            }
        }

        &:nth-child(2n) {
            .widget-content {
                background: $band-color-2;

                p > a {
                    color: darken($band-color-2, 20%);
                }
            }
        }

        &:nth-child(3n) {
            .widget-content {
                background: $band-color-3;

                p > a {
                    color: darken($band-color-3, 20%);
                }
            }
        }

        &:nth-child(4n) {
            .widget-content {
                background: $band-color-4;

                p > a {
                    color: darken($band-color-4, 20%);
                }
            }
        }

        &:nth-child(5n) {
            .widget-content {
                background: $band-color-5;

                p > a {
                    color: darken($band-color-5, 20%);
                }
            }
        }
    }
}

/**
 * Quick links widget
 */

.quick-links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        & + li {
            margin-top: 3px;
        }

        a {
            display: block;
            background: rgba(0, 0, 0, .1);
            padding: 8px 12px;
            color: #fff;
            letter-spacing: .8px;
            font-weight: 300;

            &:hover {
                background: rgba(0, 0, 0, .2);
            }
        }
    }
}

/**
 * Text widget
 */

.widget.widget_text {
    .widget-content {
        padding: $widget-padding;

        p + p {
            margin-top: 10px;
        }

        .flex-video {
            margin-bottom: 0;
        }
    }
}