/**
 * Fonts
 */
$font-roboto: 'Roboto', 'Helvetica Neue', 'Helvetica';

/**
 * Border radius
 */
$border-radius: 5px;

/**
 * Row
 */
$row-max-width: rem-calc(1200px);

/**
 * Widgets
 */
$widget-padding: 20px;

/**
 * Icons unicode
 */
$icon-facebook: "\f082";
$icon-twitter: "\f081";
$icon-linkedin: "\f08c";
$icon-instagram: "\f16d";
$icon-external-link-alt1: "\f08e";
$icon-external-link-alt2: "\f14c";
$icon-external-link: $icon-external-link-alt1;