/**
 * Fonts
 */
$font-roboto: 'Roboto', 'Helvetica Neue', 'Helvetica';

/**
 * Border radius
 */
$border-radius: 5px;

/**
 * Row
 */
$row-max-width: rem-calc(1200px);

/**
 * Widgets
 */

$widget-padding: 20px;