article {
    font-family: $font-roboto;
    font-weight: 200;
    font-size: 12pt;
    letter-spacing: .5px;
    color: #333;

    header {
        h1 {
            margin-top: 15px;
        }
    }

    .article-ingress {
        font-weight: bold;
        margin-bottom: rem-calc(20);

        p {
            font-weight: bold;
            font-size: rem-calc(18);
        }
    }

    // Append icon to external links
    a[href^="http://"]:not([href*="helsingborg.se"]):not([href*="readspeaker.com"]),
    a[href^="https://"]:not([href*="helsingborg.se"]):not([href*="readspeaker.com"]),
    a[href^="//"]:not([href*="helsingborg.se"]):not([href*="readspeaker.com"]) {
        &::before {
            $icon-size: 12px;
            font-size: $icon-size;
            margin-right: 3px;
            @include hbg-icons($icon-external-link);
        }
    }
}

p {
    margin: 0;

    & + p {
        margin-top: rem-calc(20);
    }
}