/*  Footer */
.footer {
	background-color: $footer-bg-color;
	margin-top: rem-calc(32);
	a {
		&:hover {
			color: scale-color($blue-2, $lightness: 20%);
		}
	}
}

.footer-content {
	color: $white;
	padding-top: rem-calc(16);
	padding-bottom: rem-calc(16);
	font-size: rem-calc(14);

	h1, h2, h3, h4, h5, h6 {
		color: $white;
		font-size: rem-calc(18);
	}
	p, ul {
		font-size: rem-calc(14);
	}

	ul {
		list-style: none;
		a {
			color: $white;
			&:hover {
				color: scale-color($black, $lightness: 80%);
			}
		}
	}

	.push-link {
		color: $blue-2;
	}
}
