
/* header */

.site-logo {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
}

.logo-link {
	display: block;
}

/* No SVG support fallback */
.no-svg {
	.logo-link {
		background: url(#{$wp-root-url}/#{$wp-theme-img-url}/hbg-logo.png) no-repeat center center;
		max-width: 254px;
		height: 80px;
	}
}

/* slider */
.orbit-container {
	@include box-shadow(5px);
	.img-slide {
		border-radius: $border-radius;
	}
	.orbit-slides-container {
		.orbit-caption {
			background: none;
		}
	}
}
.orbit-bullets-container {
	display: none;
}

/* placeholder style */
%search-inputs {
	border-radius: $border-radius;
	border: 2px solid $orange;
	font-size: rem-calc(16);
}

/* search */
.search-inputs {
		padding-top: rem-calc(18);
		padding-bottom: rem-calc(18);
		input[type="text"] {
			@extend %search-inputs;
			float: left;
			margin-right: 5%;
			width: 75%;
			margin-bottom: 0;
	}
	input[type="submit"] {
		@extend %search-inputs;
		padding: rem-calc(8) 0;
		width: 20%;
		background-color: $orange;
		color: $white;
	}
}

.archive-search-link {
	display: block;
	font-size: rem-calc(14);
	margin-top: rem-calc(10);
	@include global-link-style;
}

/* Mobile search */
.mobile-search {
	position: relative;
	border-top: 1px solid $mobile-nav-border-color;
	padding: rem-calc(15) rem-calc(15);

	input[type="text"],
	input[type="submit"] {
		border-radius: $border-radius;
	}
	input[type="text"] {
		float: left;
		width: 75%;
		margin-right: 5%;
		margin-bottom: 0;
	}
	input[type="submit"] {
		font-size: rem-calc(16);
		height: rem-calc(37);
		border: none;
		width:	20%;
	}
}

.mobile-search-input-container {
	margin: 0 auto;
	width: auto;
}

/* MQ - header */

@media #{$small-only} {
	.main-site-container {
		padding-top: rem-calc(42);
	}

	.logo-link {
		img {
			margin: 0 auto;
			display: block;
		}
	}
	.search-inputs,
	.mobile-search {
		display: none;
	}
}
