
/* header */

.site-logo {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
}

.logo-link {
	display: block;
}

/* No SVG support fallback */
.no-svg {
	.logo-link {
		background: url(#{$wp-root-url}/#{$wp-theme-img-url}/hbg-logo.png) no-repeat center center;
		max-width: 254px;
		height: 80px;
	}
}

/* placeholder style */
%search-inputs {
	border-radius: $border-radius;
	border: 2px solid $orange;
	font-size: rem-calc(16);
	@include box-shadow-advanced(1, 1, 3, 0,0,0,0.45, false,false);
}

/* search */
.search-inputs {
		padding-top: rem-calc(18);
		padding-bottom: rem-calc(18);
		input[type="text"] {
			@extend %search-inputs;
			float: left;
			margin-right: 5%;
			width: 75%;
			margin-bottom: 0;
	}
}

.archive-search-link {
	display: block;
	font-size: rem-calc(14);
	margin-top: rem-calc(10);
	@include global-link-style;
}



/* MQ - header */

@media #{$small-only} {

	.logo-link {
		img {
			margin: 0 auto;
			display: block;
		}
	}
	.search-inputs,
	.mobile-search {
		display: none;
	}
}
