/* Helsingborg.se - navigation */

/* desktop navigation */
.main-nav {
	.main-nav-list {
		list-style: none;
		margin-left: 0;
		margin-bottom: rem-calc(32);
		li a {
			font-size: rem-calc(18);
			color: $black; 
			display: block;
			padding-left: rem-calc(18);

			padding-right: rem-calc(10);
			&:hover {
				background-color: $main-nav-hover-color;
			}
		}
		li.current-node > a {
			text-decoration: underline;
			font-weight: bold;
		}
		li.current {
			padding-top: rem-calc(6);
			background-color: scale-color($gray-3, $lightness: 70%);
			> a {
				color: $blue-1;
				&:before {
					@include hbg-icons($arrow-solid-right);
					margin-left: - rem-calc(9);
					margin-right: rem-calc(5);
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		ul {
			padding-bottom: rem-calc(16);
		}
		ul li a {
			font-size: rem-calc(14);
		}

		ul li a {
			padding-left: rem-calc(30);
		}
		ul ul li a {
			padding-left: rem-calc(40);
		}
		ul ul ul li a {
			padding-left: rem-calc(50);
		}			
	}
}

.mobile-nav {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	z-index: $level-4;
}


/* support-nav */
.show-support-nav {
	display: none;
	float: right;
	margin-bottom: 0;
	color: $white;
	font-size: rem-calc(14);
	line-height: rem-calc(40);
	padding: 0 rem-calc(10);
	position: relative;
	&:before {
		@include hbg-icons($arrow-solid-right);
		font-size: rem-calc(12);
		margin-right: rem-calc(4);
	}
	&.active,
	&:hover {
		background: $mobile-nav-active-color;
		color: $white;
	}
	&.active:before {
		@include hbg-icons($arrow-solid-down);
	}
}

.support-nav {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
	position: relative;
}

.support-nav-list {
	float: right;
	margin-bottom: 0;
	li a {
		color: $white;
		font-size: rem-calc(14);
		line-height: rem-calc(80);
		&:hover {
			text-decoration: underline;
		}
	}
}

/* custom MQ - navigation */

@media #{$custom-medium-only} {
	.support-nav {
		padding-top: rem-calc(20);
	}
	.show-support-nav {
		display: block;
	}
	.support-nav-list {
		width: rem-calc(200);
		display: none;
		position: absolute;
		z-index: $level-1;
		top: rem-calc(60);
		right: rem-calc(10);
		background-color: $blue-1;
		border-radius: $border-radius;
		li {
			border-bottom: 1px solid $mobile-nav-border-color;
			display: block;
			float: none;
			margin-left: 0;
			a {
				padding: rem-calc(5) rem-calc(10);
				line-height: rem-calc(24);	
				&:hover {
					background-color: $mobile-nav-active-color;
					text-decoration: none;
				}
			}
		}
	}
}

@media #{$custom-large-up} {
	/* Overrides JS TOGGLE BEHAVIOUR */
	.support-nav-list {
		display: block !important;
	}
}

@media #{$small-only} {
	.mobile-nav {		
		display: block;
		background-color: $blue-1;
		@include drop-shadow();
		a {
			color: $white;
		}
	}
	.mobile-navigation {
			display: block;
			@extend .clearfix;
			> a {
				padding-top: rem-calc(5);
				padding-right: rem-calc(15);
				padding-left: rem-calc(15);
				padding-bottom: rem-calc(5);		
				font-size: rem-calc(16);
				line-height: rem-calc(32);
				text-align: center;
				display: block;
				&.active {
					background-color: $mobile-nav-active-color;
				}
				&.show-mobile-nav {
					float: left;
					&:before {
						@include hbg-icons($menu-1);
						margin-right: rem-calc(5);
						margin-top: rem-calc(10);
					}
				}
				&.show-mobile-search {
					float: right;
					&:before {
						@include hbg-icons($search);
						margin-right: rem-calc(5);
					}
				}			
			}
		}


	.mobile-nav-list {
		display: none;
		background: $blue-1;
		margin-left: 0;
		margin-bottom: 0;
		@include drop-shadow();
		li {
			display: block;
			border-bottom: 1px solid $mobile-nav-border-color;
			&:first-child {
				border-top: 1px solid $mobile-nav-border-color;
			}
		}
		li a {
			display: block;
			padding: rem-calc(7) rem-calc(15);
			&:hover {
				background-color: $mobile-nav-active-color;
			}
		}
	}

	.support-nav {
		display: none;
	}
}



