/* sidebar components */


/* placeholder style + generic widget styles */

.widget {
	&.large-12 {
		margin-bottom: rem-calc(32);
	}
}

.widget-content {
	padding: rem-calc(10);
	font-size: rem-calc(14);
	background-color: $white;
	border-radius: $border-radius;
	@include box-shadow;

	h2, h3, h4, h5, h6, .widget-title {
		font-size: rem-calc(16);
		@include section-title-style;
	}
	ul {
		font-size: rem-calc(14);
	}
	.date {
		display: block;
	}
	.divider {
		margin-left: - rem-calc(10);
		margin-right: - rem-calc(10);
	}
}

.sidebar,
.footer {
	ul {
		list-style: none;
		margin-left: 0;
	}
	a {
		@include global-link-style;
	}
}


/* specific - widget styles */
.push-links-widget {
	.push-links-list {
		font-size: rem-calc(18);
		li a {
			color: $black;
			background-color: $gray-3; 	
			text-align: center; 
			border-radius: $border-radius;
			display: block;
			padding: rem-calc(10) rem-calc(10);
			margin-bottom: rem-calc(10);
			&:hover {
				text-decoration: none;
			}
		}
		li {
			&.item-1 a { background-color: $self-service-color; }
			&.item-2 a { background-color: $report-error-color; }
			&.item-3 a { background-color: $feedback-color; }
			&.item-4 a { background-color: $tourism-color; }
			&.item-5 a { background-color: $company-color;}
			&.item-6 a { background-color: $inspiration-color;}
		}
	}
}

.calendar-event-widget {
	.widget-content {
		@extend %widget-generic-style;
	}
	ul {
		@extend %widget-generic-list-style;
	}
}

.news-widget {
		.icon {
			margin-left: rem-calc(10);
			&:after {
				@include hbg-icons($rss);
				color: $orange;
				font-size: rem-calc(24);
				margin-bottom: - rem-calc(10);
				vertical-align: bottom;
			}
		}
		.widget-content {
			@extend %widget-generic-style;
		}
		ul {
			@extend %widget-generic-list-style;
		li {
			.date {
				display: block;
			}
		}
	}
}

.quick-links-widget {
	.widget-content {
		@extend %widget-generic-style;
	}
}
