/* Helsingborg.se - mixins */

@mixin section-title-style {
		margin-right: -#{rem-calc(10)};
		margin-left: -#{rem-calc(10)};
		margin-top: -#{rem-calc(6)};
		padding: rem-calc(10);
		margin-bottom: 0;
}

@mixin box-shadow($spread: 3px, $opacity: 0.4) {
	    box-shadow: 2px 2px $spread 0 rgba(0, 0, 0, $opacity);
}
@mixin drop-shadow($spread: 3px, $x: 0, $y: 1px, $rgba: rgba(0, 0, 0, 0.4)) {
	    box-shadow: $x $y $spread 0 $rgba;
}
@mixin box-shadow-advanced($xOffSet, $yOffSet, $blur, $red, $green, $blue, $opacity, $inset : false, $two : false, $xOffSet2 : 0, $yOffSet2 : 0, $blur2 : 0, $red2 : 0, $green2 : 0, $blue2 : 0, $opacity2 : 0, $inset2 : false) {
  @if $inset {
    @if $two {
        @if $inset2 {
            -moz-box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity) inset, #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2) inset;
        	box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity) inset, #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2) inset;
        } @else {
            -moz-box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity) inset, #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2);
            box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity) inset, #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2);
        }
    } @else {
        -moz-box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity) inset;
        box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity) inset;
    }
  } @else {
    @if $two {
        @if $inset2 {
            -moz-box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity), #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2) inset;
            box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity), #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2) inset;
        } @else {
            -moz-box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity), #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2);
            box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity), #{$xOffSet2}px #{$yOffSet2}px #{$blur2}px rgba($red2,$green2,$blue2, $opacity2);
        }
    } @else {
        -moz-box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity);
        box-shadow: #{$xOffSet}px #{$yOffSet}px #{$blur}px rgba($red,$green,$blue, $opacity);
    }
  }
}

/* Custom divider mixin */
@mixin divider-to-fade($fade-from-color: rgba(237,139,0,1), $fade-to-color: rgba(237,139,0,0.0), $fade-from-color-hex: #{'#ed8b00'}, $fade-to-color-hex: #{'#6bed8b00'}) {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2VkOGIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDhiMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, $fade-from-color 0%, $fade-from-color 60%, $fade-to-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, $fade-from-color), color-stop(60%, $fade-from-color), color-stop(100%, $fade-to-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  $fade-from-color 0%, $fade-from-color 60%, $fade-to-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  $fade-from-color 0%, $fade-from-color 60%, $fade-to-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, $fade-from-color 0%, $fade-from-color 60%, $fade-to-color 100%); /* IE10+ */
	background: linear-gradient(to right, $fade-from-color 0%, $fade-from-color 60%, $fade-to-color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fade-from-color-hex, endColorstr=$fade-to-color-hex,GradientType=1 ); /* IE6-8 */
}

@mixin divider($divider-color: rgba(237,139,0,1)) {
	background: $divider-color;
}

@mixin arrow-right($arrow-color: $blue-1) {
	width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid $arrow-color;
}

@mixin site-space($site-space: $site-outer-padding) {
	padding-left: rem-calc($site-space);
	padding-right: rem-calc($site-space);
}

/* font mixin */
@mixin hbg-icons($icon: $home, $iconset: #{'FontAwesome'}) {
    //@mixin hbg-icons($icon: $home, $iconset: #{'hbg-se-iconset'}) {
		font-family: $iconset;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		content: $icon;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

@mixin global-link-style {
		color: $blue-2;
		&:hover {
			text-decoration: underline;
			color: $blue-1;
		}
}

@mixin border-top-radius($radius : $border-radius ) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin hidden-text {
	left: -999em;
	position: absolute;
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

