/* Core dependencies */
@import "foundation";

/* Assets */
@import "assets/fonts";

/* Configurations */
@import "config/variables";
@import "config/colors";
@import "config/mixins";

/* Typography */
@import "typography/article";
@import "typography/headlines";

/* Site structure */
@import "site/global";

/* Modules / Partials */
@import "partials/collection";
@import "partials/widgets";
@import "partials/social-feed-widget";
@import "partials/breadcrumbs";